<div class="min-h-screen flex flex-col items-center justify-center space-y-6 text-center px-4">
  <h1 class="text-4xl font-bold text-primary">Bienvenue à Quizine</h1>
  <p class="text-lg text-black">Des quiz à consommer sans modération!</p>

  <div class="space-y-2">
    <button class="bg-primary hover:bg-primary-light text-white font-semibold py-2 px-6 rounded-full" (click)="goToRegister()">
      S'inscrire
    </button>
    <br />
    <button class="border border-primary text-primary hover:bg-blue-50 font-semibold py-2 px-6 rounded-full" (click)="goToLogin()">
      Se connecter
    </button>
  </div>

  <div class="bg-primary-tint rounded-2xl p-6 mt-10 w-full max-w-3xl text-left shadow-sm">
    <h2 class="font-bold text-lg mb-2">Qui sommes nous:</h2>
    <p class="text-gray-700">
      Nous sommes une plateforme dédiée aux passionnés de quiz, visant à rendre l'apprentissage ludique et accessible à tous.
    </p>
  </div>

  <div>
    <a href="https://stats.uptimerobot.com/NLlEuoNSRe">Status</a>
  </div>
</div>
  