<div class="min-h-screen flex flex-col items-center justify-center space-y-6 text-center px-4 bg-bg-main dark:bg-bg-surface">
  <h1 class="text-4xl font-bold text-primary">Bienvenue à Quizine</h1>
  <p class="text-lg text-text-main dark:text-text-main">Des quiz à consommer sans modération!</p>

  <div class="flex flex-col gap-1.5">
    <app-button
      [label]="'S\'inscrire'"
      [style]="'primary'"
      [size]="'large'"
      [bold]="'semibold'"
      [shape]="'circle'"
      (click)="goToRegister()"
      [class]="'w-[157px] px-8 py-2 text-base'"
    ></app-button>
    <app-button
      [label]="'Se connecter'"
      [style]="'border'"
      [size]="'large'"
      [shape]="'circle'"
      [bold]="'semibold'"
      (click)="goToLogin()"
      [class]="'w-[157px] px-8 py-2 text-base'"
    ></app-button>
  </div>

  <div class="bg-primary-tint dark:bg-transparent dark:border-2 dark:border-border-main dark:hover:shadow-[0_0_10px_0_rgba(234,_243,_254,_0.5)] transition ease-in-out rounded-2xl p-6 mt-10 w-full max-w-3xl text-left shadow-sm">
    <h2 class="font-bold text-lg mb-2 text-text-main dark:text-text-main">Qui sommes nous</h2>
    <p class="text-text-secondary dark:text-text-secondary">
      Nous sommes une plateforme dédiée aux passionnés de quiz, visant à rendre l'apprentissage ludique et accessible à tous.
    </p>
  </div>

  <website-status-button></website-status-button>
</div>
  