<layout [ngClass]="{ 'blur-sm pointer-events-none select-none': isInviteShowing }">
  <div *ngIf="!quiz" class="text-text-main dark:text-text-main mx-[50px] mt-4"> Chargement... </div>
  <div *ngIf="quiz" class="mx-[50px] p-4 mt-4 bg-bg-surface dark:bg-bg-surface rounded-lg shadow-sm">
      <div class="flex gap-40">
        <div>
          <div class="flex items-center gap-4">
            <h1 class="text-2xl text-text-main dark:text-text-main">{{ quiz.nom }}</h1>
            <!-- <span class="text-gray-400 text-lg">{{ quiz.createdAt | date:'dd/MM/yyyy' }}</span> -->
            <app-tag-list [tags]="quiz.tags" [class]="'text-sm'"></app-tag-list>
          </div>
          <div class="text-lg mt-6 text-text-secondary dark:text-text-secondary">{{ quiz.questions.length }} {{ quiz.questions.length > 1 ? "questions" : "question" }}</div>
          <!-- <p class="text-base text-wrap mt-8 text-text-secondary dark:text-text-secondary">{{ quiz.description }}</p> -->
          <div class="flex items-center gap-3 mt-6">
            <span class="text-text-secondary dark:text-text-secondary text-sm">Créé par: <span class="font-semibold cursor-pointer" (click)="goToProfile(quiz.id_creator)"> {{ quiz.createdBy }}</span> </span>
          </div>
        </div>
        <app-button class="self-center text-text-main dark:text-text-main"
          [label]="'Démarrer'"
          [style]="'primary'"
          [size]="'large'"
          (click)="startQuiz()"
        ></app-button>
      </div>
    </div>
    <!-- <hr class="border-gray-300 mt-8"/> -->
</layout>

<user-invite [quizId]="quiz.id" *ngIf="isInviteShowing" (close)="isInviteShowing = false" (submit)="handleInviteSubmit($event)"></user-invite>
<waiting-page [isCreator]="true" *ngIf="isWaitingPageShowing" (close)="isWaitingPageShowing = false" [sessionId]="sessionId"></waiting-page>