<layout [ngClass]="{ 'blur-sm pointer-events-none select-none': isInviteShowing }">
    <div class="mx-[50px] mt-4">
        <div class="flex justify-between items-center">
            <h1 class="text-2xl">{{ quiz.nom }}</h1>
            <!-- <span class="text-gray-400 text-lg">{{ quiz.createdAt | date:'dd/MM/yyyy' }}</span> -->
        </div>
        <app-tag-list [tags]="quiz.tags" [class]="'mt-3 text-sm'"></app-tag-list>
        <div class="text-lg mt-6">{{ quiz.questions.length }} {{ quiz.questions.length > 1 ? "questions" : "question" }}</div>
        <app-button
                [label]="'Démarrer'"
                [color]="'primary'"
                [size]="'medium'"
                [class]="'mt-6'"
                (click)="startQuiz()"
        ></app-button>
        <!-- <p class="text-base text-wrap mt-8">{{ quiz.description }}</p> -->
        <div class="flex items-center gap-3 mt-6">
            <span class="rounded-full w-10 h-10 bg-primary"></span>
            <div class="flex flex-col">
                <span class="text-gray-400 text-sm">Créé par</span>
                <span class="text-base">{{ quiz.createdBy }}</span>
            </div>
        </div>
        <hr class="border-gray-300 mt-8" />
    </div>
</layout>

<user-invite [quizId]="quiz.id" *ngIf="isInviteShowing" (close)="isInviteShowing = false" (submit)="handleInviteSubmit($event)"></user-invite>
<waiting-page [isCreator]="true" *ngIf="isWaitingPageShowing" (close)="isWaitingPageShowing = false" [sessionId]="sessionId"></waiting-page>