<layout>
  <div class="mx-[20px] sm:mx-[50px] mt-4 flex flex-col gap-10 bg-bg-surface dark:bg-bg-surface p-6 rounded-lg shadow-lg">
    <div *ngIf="!quiz" class="text-text-main dark:text-text-main"> Chargement... </div>
    <div *ngIf="quiz" class="flex flex-col gap-6">
      <div class="flex flex-col gap-4">
        <div class="flex justify-between w-148 items-center">
          <div class="flex items-center gap-4">
            <h1 class="text-2xl text-text-main dark:text-text-main"> {{ quiz.nom }} </h1>
            <!-- TODO edit title -->
            <span class="text-sm rounded-full w-fit px-3 py-1 bg-primary text-primary-tint">
              {{ quiz.private ? "privé" : "public" }}
              <!-- TODO edit privacy -->
            </span>
          </div>
          <!-- <span class="text-gray-400 text-lg">{{ quiz.createdAt | date:'dd/MM/yyyy' }}</span> -->
        </div>
        <div class="flex max-sm:flex-col max-sm:gap-4 gap-10">
          <app-tag-list [tags]="quiz.tags" [class]="'text-sm'"></app-tag-list> 
          <!-- TODO add/remove tags button -->
          <h2 class="font-semibold px-2 text-text-secondary dark:text-text-secondary">
            {{ quiz.questions.length }} questions
          </h2>
        </div>
      </div>

      <div>
        <h2 class="text-xl font-semibold text-text-main dark:text-text-main"> Description </h2>
        <!-- <p class="text-base mt-2 text-wrap">{{ quiz.description }}</p> -->
      </div>

      <div class="flex flex-col gap-8 overflow-y-auto p-2 h-[50vh]">
        @for (question of quiz.questions; let i = $index; track question) {
          <edit-quiz-question
            [question]="question"
            [index]="i"
          ></edit-quiz-question>
          <!-- TODO edit question -->
        }
        <app-button
          [label]="'Ajouter une question'"
          [style]="'primary'"
          [size]="'medium'"
          (click)="addQuestion()"
        ></app-button>
      </div>

      <div class="flex justify-end">
        <app-button
          [label]="'Enregistrer les modifications'"
          [style]="'primary'"
          [size]="'medium'"
          (click)="saveQuiz()"
        ></app-button>
      </div>
    </div>
  </div>
</layout>
