<div class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50">
  <div class="relative bg-bg-surface dark:bg-bg-surface p-8 rounded-xl shadow-lg w-[60svh] max-w-2xl flex flex-col h-90 sm:h-[512px]">
    <button type="button" (click)="onClose()" class="text-text-secondary hover:text-text-main dark:text-text-secondary dark:hover:text-text-main absolute top-2 right-2 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

    <div class="flex flex-col h-full">
      <h1 class="text-2xl text-text-main dark:text-text-main font-bold mt-2 mb-4">Invite users</h1>
      <div class="w-full mx-auto relative">
        <label for="user-search" class="mb-2 text-sm font-medium text-text-main dark:text-text-main sr-only">Search</label>
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-text-secondary dark:text-text-secondary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <input
          type="text"
          placeholder="Search Users"
          class="block w-full p-4 ps-10 bg-bg-gray-200 dark:bg-bg-card text-text-main dark:text-text-main h-10 rounded-lg focus:outline-none focus:border-primary min-w-0 dark:hover:shadow-[0_0_10px_0_rgba(234,_243,_254,_0.2)]"
          [value]="searchTerm"
          (input)="onSearch($event)"
          (focus)="searchDropdownOpen = true"
          (keydown.escape)="searchDropdownOpen = false"
        />
        
        <!-- Search Dropdown -->
        <div *ngIf="searchTerm && searchDropdownOpen" (mousedown)="$event.stopPropagation()" class="absolute w-full top-10 bg-bg-card dark:bg-bg-card border border-gray-300 rounded-lg shadow-lg z-[1100]">
          <ul class="max-h-80 overflow-y-auto">
            <li *ngIf="filteredUsersList.length === 0" class="px-4 py-2 text-text-secondary dark:text-text-secondary cursor-default">
              Aucun utilisateur trouvé
            </li>
            <li *ngFor="let user of filteredUsersList" class="px-4 py-2 text-text-main dark:text-text-main hover:bg-gray-200 dark:hover:bg-zinc-800 cursor-pointer rounded-lg"
              (click)="addUser(user.id)">
              {{ user.username }}
            </li>
          </ul>
        </div>
      </div>

      <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()" class="flex flex-col h-full mt-4 gap-4">
         <div class="flex flex-col gap-2 overflow-y-auto h-[33svh]">
           <div>
             <h1 class="font-bold mb-2 text-text-main dark:text-text-main">Utilisateur</h1>
             <ul class="mb-4" class="max-h-[33svh] overflow-y-auto text-text-secondary dark:text-text-secondary"> 
               <li *ngFor="let user of selectedUsers" class="flex items-center mb-2 gap-2">
                 <input type="checkbox" [value]="user.id" (change)="onCheckboxChange($event, user.id)" />
                 <img *ngIf="user.picture" [src]="user.picture"  (error)="user.picture = 'assets/ProfileLogo.png'" alt="{{ user.username }}" class="inline-block w-6 h-6 rounded-full mr-2 align-middle" />
                 {{  user.username }}
               </li>
             </ul>
             <p *ngIf="selectedUsers.length === 0" class="text-text-secondary dark:text-text-secondary">Aucun utilisateur ajouté.</p>
           </div>
   
           <div>
             <h1 class="font-bold mb-2 text-text-main dark:text-text-main">Amis</h1>
             <ul *ngIf="friends.length > 0"  class="max-h-[33svh] overflow-y-auto text-text-secondary dark:text-text-secondary">
               <li *ngFor="let friend of friends" class="flex items-center mb-2 gap-2">
                 <input type="checkbox" [value]="friend.id" (change)="onCheckboxChange($event, friend.id)" />
                 <img *ngIf="friend.picture" [src]="friend.picture" (error)="friend.picture = 'assets/ProfileLogo.png'" alt="{{ friend.username }}" class="inline-block w-6 h-6 rounded-full mr-2 align-middle" />
                 {{ friend.username }}
               </li>
             </ul>
             <p *ngIf="friends.length === 0" class="text-text-secondary dark:text-text-secondary">Aucun ami ajouté.</p>
           </div>
         </div>

        <div class="flex flex-col self-end w-full items-center mt-auto pb-2">
          <app-button
            [type]="'submit'"
            [label]="'Inviter'"
            [style]="'primary'"
            [size]="'medium'"
            [class]="'p-2 px-8 w-fit shadow'"
            [disabled]="selectedFriends.length <= 0 && selectedUsers.length <= 0"
          ></app-button>
          <app-button
            [type]="'button'"
            [label]="'Passer'"
            [style]="'text'"
            [size]="'medium'"
            (click)="onSkip()"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>