<div class="flex flex-col gap-2 first:mt-2">
    <h3 class="text-lg font-semibold">Question {{index + 1}}</h3>
    <div>{{ question.name }}</div>
    @for (option of question.choices; track option) {
        <div *ngIf="option.id !== question.id_answer" class="p-4 border border-gray-300 rounded-md text-wrap text-base w-148">{{ option.content }}</div>
        <div *ngIf="option.id === question.id_answer" class="p-4 border-2 border-primary-dark bg-primary-tint rounded-md text-wrap text-base font-semibold w-148">{{ option.content }}</div>
    }
</div>