<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <div class="w-64 bg-white shadow p-4 fixed sm:relative z-10 h-full transition-transform duration-300 ease-in-out z-50 "
  [ngClass]="{
    'translate-x-0': isSideBarOpen,
    '-translate-x-full': !isSideBarOpen
  }"   >
    <div class="flex">
        <button (click)="toggleSideBar()">
            <img src="assets/images/SideBar.png" alt="Quiz Blocks" class="w-10 h-12 object-contain hover:bg-primary-lint rounded" />
        </button>
        <h1 class="text-xl font-bold mb-4 text-blue-500 translate-y-2 ">Quizine</h1>
    </div>
    <ul>
      <li class="mb-2">
        <button href="#" class="block px-4 py-2 text-gray-700 hover:bg-primary-lint rounded">
          Accueil
        </button>
      </li>
      <li class="mb-2">
        <button href="#" class="block px-4 py-2 text-gray-700 hover:bg-primary-lint rounded">
          Mes quiz
        </button>
      </li>
      <li class="mb-2">
        <button href="#" class="block px-4 py-2 text-gray-700 hover:bg-primary-lint rounded">
          Découvrir
        </button>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="flex-1">
    <!-- Header -->
    <div class="h-20 bg-primary-lint flex justify-between items-center mb-6">
        
        <button *ngIf="!isSideBarOpen" (click)="toggleSideBar()" class="translate-x-5">
            <img src="assets/images/SideBar.png" alt="Quiz Blocks" class="w-10 h-12 object-contain hover:bg-primary-lint rounded" />
        </button>
      <div class="flex w-full md:w-1/2">
        <input
          type="text"
          placeholder="Recherche"
          class="bg-gray-200 translate-x-40 w-full rounded-2xl p-2 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="flex items-center">
        <button class="bg-blue-500 text-white px-4 py-2 rounded-3xl mr-2">
          + Créer un quiz
        </button>
        <img src="assets/images/ProfileLogo.png" alt="Quiz Blocks" class="w-14 h-16 object-contain" />
      </div>
    </div>

    <!-- Recent Quizzes -->
    <h2 class="translate-x-4 text-lg font-bold mb-4">Récents</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-6">
      <button class="bg-white p-4 rounded shadow hover:bg-primary-lint">
        <div class="flex items-center">
          <img src="assets/images/interrogation.png" alt="Quiz Blocks" class="w-14 h-16 object-contain" />
          <div>
            <h3 class="text-sm font-bold">Quiz d'histoire</h3>
            <p class="text-xs text-gray-500">16 Questions · johndoe | 23.23.3/2025</p>
          </div>
        </div>
      </button>
      <button class="bg-white p-4 rounded shadow hover:bg-primary-lint">
        <div class="flex items-center">
          <img src="assets/images/interrogation.png" alt="Quiz Blocks" class="w-14 h-16 object-contain" />
          <div>
            <h3 class="text-sm font-bold">Quiz d'histoire</h3>
            <p class="text-xs text-gray-500">16 Questions · johndoe | 23.23.3/2025</p>
          </div>
        </div>
      </button>
      <button class="bg-white p-4 rounded shadow hover:bg-primary-lint">
        <div class="flex items-center">
          <img src="assets/images/interrogation.png" alt="Quiz Blocks" class="w-14 h-16 object-contain" />
          <div>
            <h3 class="text-sm font-bold">Quiz d'histoire</h3>
            <p class="text-xs text-gray-500">16 Questions · johndoe | 23.23.3/2025</p>
          </div>
        </div>
      </button>
      <button class="bg-white p-4 rounded shadow hover:bg-primary-lint">
        <div class="flex items-center">
          <img src="assets/images/interrogation.png" alt="Quiz Blocks" class="w-14 h-16 object-contain" />
          <div>
            <h3 class="text-sm font-bold">Quiz d'histoire</h3>
            <p class="text-xs text-gray-500">16 Questions · johndoe | 23.23.3/2025</p>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>