<div class="flex h-screen bg-gray-100">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- Main Content -->
  <div class="flex-1 w-full">
    <!-- Header -->
    <app-navbar></app-navbar>
  
    <!-- Recent Quizzes -->
    <div class="mx-40">
      <h2 class="text-lg font-bold mb-4">Récents</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
        <ng-container *ngFor="let quiz of quizzes">
          <button class="bg-white p-4 rounded shadow hover:bg-primary-tint" (click)="gotoQuiz(quiz.id)">
            <div class="flex items-center items-start">
              <img src="assets/images/interrogation.png" alt="Quiz Blocks" class="w-14 h-16 object-contain" />
              <div class="flex flex-col items-start gap-2">
                <span class="text-sm font-bold">{{quiz.nom}}</span>
                <!-- <span class="text-xs text-gray-500">{{quiz.questions.length}} Questions · {{quiz.createdBy}} | {{quiz.createdAt | date:'dd/MM/yyyy' }}</span> -->
                <span class="text-xs text-gray-500">{{quiz.questions.length}} Questions · {{quiz.createdBy}}</span>
              </div>
            </div>
          </button>
          </ng-container>
      </div>
    </div>
  </div>
</div>