
<!-- Sidebar -->
<div class="relative h-full">
    <div class="flex absolute top-4 left-4 z-[100] gap-4">
        <button (click)="toggleSideBar()">
            <img src="assets/images/SideBar.png" alt="Quiz Blocks" class="w-10 h-12 object-contain hover:bg-primary-tint rounded" />
        </button>
        <span *ngIf="isSideBarOpen" class="text-xl font-bold mb-4 text-primary translate-y-2">Quizine</span>
    </div>
    <div class="flex absolute left-4 z-[90] w-96 h-16 bg-white"></div>
    <div class="w-64 bg-white pt-[80px] p-4 fixed sm:relative h-full transition-transform duration-300 ease-in-out z-50"
    [ngClass]="{
      'translate-x-0': isSideBarOpen,
      '-translate-x-[180px]': !isSideBarOpen
    }"   >
      <ul>
        <li (click)="goToHomepage()" class="mb-2">
          <button href="#" class="block px-4 py-2 text-gray-700 hover:bg-primary-tint rounded">
            Accueil
          </button>
        </li>
        <li (click)="goToLibrary()" class="mb-2">
          <button href="#" class="block px-4 py-2 text-gray-700 hover:bg-primary-tint rounded">
            Mes quiz
          </button>
        </li>
        <li (click)="goToExplore()" class="mb-2">
          <button href="#" class="block px-4 py-2 text-gray-700 hover:bg-primary-tint rounded">
            Découvrir
          </button>
        </li>
        <li (click)="goToNotifications()" class="mb-2">
          <button href="#" class="block px-4 py-2 text-gray-700 hover:bg-primary-tint rounded">
            Notifications
          </button>
        </li>
      </ul>
    </div>
</div>
