<div class="px-96">
    <h1 class="text-2xl">Découvrir</h1>
    <div *ngIf="quizList.length > 0" class="flex flex-wrap gap-4">
        @for (quiz of quizList; track quiz) {
            <app-quiz-card
                [title]="quiz.title"
                [tags]="quiz.tags"
                [nbQuestions]="quiz.nbQuestions"
                [createdBy]="quiz.createdBy"
                [createdAt]="quiz.createdAt"
                [link]="quiz.link"
            ></app-quiz-card>
        }
    </div>
    <div *ngIf="quizList.length === 0" class="text-lg text-gray-500 w-64 text-wrap text-center mx-auto mt-48">
        Aucun résultat ne correspond à votre recherche.
    </div>
</div>
