export const environment = {
  production: true,
  apiEndpoint: "/api", // https://quizine-backend.vercel.app/api rewriten by vercel
  mockAuth: false,
  socket: false,
  supabaseUrl: '${SUPABASE_URL}',
  supabaseKey: '${SUPABASE_ANON_KEY}'
};