<layout>
  <div class="bg-bg-main dark:bg-bg-main min-h-screen p-4">
    <div class="bg-bg-surface dark:bg-bg-surface rounded-md shadow-md p-4">
      <h2 class="text-xl font-bold mb-4 text-text-main dark:text-text-main">Notifications</h2>
      <div class="flex flex-col gap-3 h-[74svh] overflow-y-auto overflow-x-hidden">
        <ng-container *ngFor="let notification of notifications">
          <waiting-page [refus]="isrefus" [isCreator]="false" *ngIf="isWaitingPageShowing.get(notification.id_session)" (close)="onWaitClose(notification)" [sessionId]="notification.id_session"></waiting-page>
        <div class="bg-bg-card dark:bg-bg-card p-4 w-full md:w-9/12 rounded-md shadow-lg
          [box-shadow:0_4px_16px_0_rgba(0,0,0,0.10)]
          dark:[box-shadow:0_4px_16px_0_rgba(255,255,255,0.10)]">
            <div class="flex max-md:flex-col max-md:gap-4 w-full items-center justify-between md:pr-4">
              <div class="flex gap-4 items-center">
                <div class="w-10 h-10 rounded-full bg-yellow-500 flex items-center justify-center text-white shrink-0">
                  <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.937 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                  </svg>
                </div>
                <p class="text-sm font-medium text-text-main dark:text-text-main">
                  Vous avez une nouvelle invitation de {{notification?.username}}
                </p>
              </div>
              <div class="flex gap-2">
                <app-button
                  [label]="'Accepter'"
                  [style]="'primary'"
                  [size]="'medium'"
                  (click)="accepter(notification)"
                ></app-button>
                <app-button
                  [label]="'Refuser'"
                  [style]="'secondary'"
                  [size]="'medium'"
                  (click)="refuser(notification)"
                ></app-button>
              </div>
            </div>
        </div>
        </ng-container>
        <div *ngIf="notifications.length === 0">
          <p class="text-text-secondary dark:text-text-secondary text-center mt-10">
            Aucune notification pour le moment.
          </p>
        </div>
      </div>
    </div>
  </div>
</layout>