<div class="min-h-screen bg-primary-lighter dark:bg-primary flex flex-col">
  <div class="flex-1 flex items-center justify-center w-full h-full">
    <div class="bg-bg-surface dark:bg-bg-surface rounded shadow-lg lg:w-11/12 w-full max-w-8xl lg:h-11/12 h-[85svh] max-h-4xl p-10 relative">
      <div class="flex h-full flex-col">
        <h1 class="text-3xl font-bold text-left mb-8 text-text-main dark:text-text-main">Récapitulatif</h1>

        <div class="grow overflow-y-auto mb-10 flex flex-col gap-4">
          <ng-container *ngIf="quiz; else loading">
            <div *ngFor="let question of quiz.questions; let i = index" class="flex flex-col mb-8 pr-4">
              <div class="flex flex-col mb-4">
                <span class="text-2xl font-bold text-primary">
                  Question {{ i + 1 }}/{{ quiz.questions.length }}
                </span>
                <span class="text-text-secondary dark:text-text-secondary">
                  {{ question.name }}
                </span>
              </div>

              <div class="flex flex-col gap-2">
                <div *ngFor="let answer of question.choices; let j = index" class="flex items-center w-full gap-2">
                  <span *ngIf="question.id_answer === answer.id" class="text-green-500 text-2xl font-bold">✔</span>
                  <span *ngIf="answer.id === answers.get(question.id)?.id && question.id_answer !== answer.id" class="text-red-500 text-2xl font-bold">✗</span>
                  <span *ngIf="answer.id !== answers.get(question.id)?.id && question.id_answer !== answer.id" class="text-2xl font-bold inline-block w-[1em]">&nbsp;</span>

                  <div
                    [ngClass]="{
                      'bg-green-500': question.id_answer === answer.id,
                      'bg-red-500': answer.id === answers.get(question.id)?.id && question.id_answer !== answer.id,
                      'bg-bg-card dark:bg-bg-card': answer.id !== answers.get(question.id)?.id && question.id_answer !== answer.id
                    }"
                    class="w-full border border-blue-100 rounded px-6 py-3 shadow-sm font-medium flex items-center text-text-main dark:text-text-main"
                  >
                    {{ j + 1 }}. {{ answer.content }}
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #loading>
            <div class="text-text-main">
              Chargement...
            </div>
          </ng-template>
        </div>
      </div>

      <div class="absolute left-0 right-0 bottom-0 z-10 flex justify-center items-center w-full h-20 pointer-events-none">
        <div class="backdrop-blur-md bg-primary-lighter/70 w-full max-w-4xl mx-auto rounded-b-lg flex justify-center items-center pointer-events-auto">
          <app-button
            [label]="'Terminer'"
            [style]="'primary'"
            [size]="'medium'"
            class="shadow-md transition duration-300"
            (click)="finish()"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>