<button 
    [ngClass]="{
        'bg-primary-dark text-white hover:bg-primary-darker dark:bg-primary-dark dark:text-white dark:hover:bg-primary-darker': color === 'primary',
        'bg-primary-tint text-primary-darker hover:bg-primary-lighter dark:bg-primary dark:text-primary-tint dark:hover:bg-primary-dark': color === 'secondary',
        'px-6 py-3 text-lg': size === 'large',
        'px-4 py-2 text-base': size === 'medium',
        'px-2 py-1 text-sm': size === 'small'
    }"
    class="w-fit rounded-lg {{ class }}">
    {{ label }}
</button>