<button
    type="{{ type }}"
    (click)="onClick()"
    [ngClass]="{
        'bg-primary text-white hover:bg-primary-dark dark:bg-primary-dark dark:text-text-main dark:hover:bg-primary-darker': style === 'primary',
        'bg-primary-tint text-primary-darker hover:bg-primary-lighter dark:bg-primary dark:text-white dark:hover:bg-primary-dark': style === 'secondary',
        'text-primary-light border-2 hover:text-gray-100 hover:bg-primary-light border-border-secondary dark:text-primary-tint dark:border-border-secondary dark:hover:bg-primary-dark': style === 'tertiary',
        'text-primary dark:text-primary-dark hover:text-primary-light dark:hover:text-primary font-semibold cursor-pointer': style === 'text',
        'border border-primary text-primary hover:text-white dark:hover:text-white hover:bg-primary dark:hover:bg-primary-dark' : style === 'border',
        'bg-error text-text-main hover:bg-error-light dark:bg-error-dark dark:text-text-main dark:hover:bg-error': style === 'error',
        'bg-warn text-text-main hover:bg-warn-light dark:bg-warn-dark dark:text-text-main dark:hover:bg-warn': style === 'warn',

        'px-16 py-10 text-xl': size === 'xxlarge',
        'px-8 py-4 text-lg': size === 'xlarge',
        'px-6 py-3 text-md': size === 'large',
        'px-4 py-2 text-base': size === 'medium',
        'px-2 py-1 text-sm': size === 'small',

        'rounded-full': shape === 'circle',
        'rounded-lg': shape === 'rectangle',

        'font-bold': bold === 'bold',
        'font-semibold': bold === 'semibold',
        'font-medium': bold === 'medium',
        'font-normal': bold === 'normal',
        'font-thin': bold === 'thin',
        'font-extralight': bold === 'extralight',
        'font-light': bold === 'light',

        'w-fit': !fullWidth,
        'w-full': fullWidth,

        'cursor-not-allowed': disabled,
        'cursor-wait': loading
    }"
    class="select-none {{ class }}">
    {{ label }}
</button>