<div class="min-h-screen bg-primary-lighter flex flex-col">
  <!-- Main content -->
  <div class="flex-1 flex items-center justify-center w-full h-full">
    <div class="bg-white rounded shadow-lg lg:w-11/12 w-full max-w-8xl lg:h-11/12 h-[85svh] max-h-[90svh] p-2 sm:p-10 relative overflow-hidden">
      <!-- Header info -->
       <div class="flex w-full justify-between items-center pt-2 px-2">
         <div class="text-sm text-gray-600"> {{ quizName }} </div>
         <div class="sm:text-2xl font-bold text-black">
           Temps restant : <span>{{ formatTimer(timer) }}</span>
         </div>
       </div>

      <!-- Question & Answers Section -->
      <div class="mt-10 flex flex-col justify-between">

        <div class="flex flex-col gap-2">
          <div class="w-5/6 max-w-6xl mx-auto text-left">
            <div class="text-2xl font-semibold mt-2 mb-4 break-words">
              Question {{ questionIndex + 1 }}/{{ totalQuestions }}
            </div>
            <div class="text-xl mb-8 break-words whitespace-pre-line">
              {{ question.name }}
            </div>
          </div>
  
          <div class="overflow-y-auto pr-4 pb-8">
            <!-- Answers -->
            <div class="flex flex-col items-center gap-4 w-full">
              <button
                *ngFor="let answer of question.choices; let i = index"
                (click)="selectAnswer(answer)"
                [ngClass]="{
                  'bg-primary text-white shadow-md border-primary': selectedAnswer === answer.id,
                  'bg-white text-gray-700 hover:bg-primary-light hover:text-white hover:border-primary-light transition': selectedAnswer !== answer.id
                }"
                class="w-5/6 max-w-6xl border border-gray-200 rounded-lg px-6 py-4 text-left text-base font-medium shadow-sm drop-shadow-[5px_7px_8px_rgba(179,213,235,1)] focus:outline-none transition-all duration-150 break-words whitespace-pre-line"
              >
                {{ i + 1 }}. {{ answer.content }}
              </button>
            </div>
          </div>
        </div>

        <!-- Progress -->
        <div class="mt-6 text-right w-full text-gray-500 text-sm">
          {{ questionIndex + 1 }}/{{ totalQuestions }}
        </div>
      </div>
    </div>
  </div>
</div>
