<div class="min-h-screen bg-primary-lighter dark:bg-primary flex flex-col">
  <!-- Main content -->
  <div class="flex-1 flex items-center justify-center w-full h-full">
    <div class="bg-bg-surface dark:bg-bg-surface rounded shadow-lg lg:w-11/12 w-full max-w-8xl lg:h-11/12 h-[85svh] max-h-[90svh] p-2 sm:p-10 relative overflow-hidden">
      <!-- Header info -->
       <div class="flex w-full justify-between items-center pt-2 px-2">
         <div class="text-sm text-text-secondary dark:text-text-secondary"> {{ quizName }} </div>
         <div class="sm:text-2xl font-bold text-text-main dark:text-text-main">
           Temps restant : <span>{{ formatTimer(timer) }}</span>
         </div>
       </div>

      <!-- Question & Answers Section -->
      <div *ngIf="question" class="mt-10 flex flex-col justify-between text-text-main dark:text-text-main">
        <div class="flex flex-col gap-2">
          <div class="w-5/6 max-w-6xl mx-auto text-left">
            <div class="text-2xl font-semibold mt-2 mb-4 break-words">
              Question {{ questionIndex + 1 }}/{{ totalQuestions }}
            </div>
            <div class="text-xl mb-8 break-words whitespace-pre-line">
              {{ question.name }}
            </div>
          </div>
  
          <div class="overflow-y-auto pr-4 pb-8">
            <!-- Answers -->
            <div class="flex flex-col items-center gap-4 w-full">
              <button *ngFor="let answer of question.choices; let i = index"
                (click)="selectAnswer(answer)"
                [ngClass]="{
                  'bg-primary text-white dark:bg-primary-dark shadow-md': selectedAnswer === answer.id,
                  'bg-bg-card dark:bg-bg-card text-text-main dark:text-text-main hover:bg-primary-light hover:text-white dark:hover:bg-primary-dark dark:hover:text-white transition': selectedAnswer !== answer.id
                }"
                class="w-5/6 max-w-6xl rounded-lg px-6 py-4 text-left text-base font-medium shadow-sm drop-shadow-[5px_7px_8px_rgba(179,213,235,1)] dark:drop-shadow-[5px_7px_8px_rgba(179,213,235,_0.5)] focus:outline-none transition-all duration-150 break-words whitespace-pre-line"
              >
                {{ i + 1 }}. {{ answer.content }}
              </button>
            </div>
          </div>
        </div>

        <!-- Progress -->
        <div class="mt-6 text-right w-full text-text-secondary dark:text-text-secondary text-sm">
          {{ questionIndex + 1 }}/{{ totalQuestions }}
        </div>
      </div>

      <div *ngIf="!question" class="flex items-center justify-center h-full">
        <div class="text-text-secondary dark:text-text-secondary text-lg">Chargement de la question...</div>
      </div>
    </div>
  </div>
</div>
