@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2F80ED;
  --color-primary-dark: #1366D6;
  --color-primary-darker: #0C4CB5;
  --color-primary-light: #63A4F4;
  --color-primary-lighter: #B3D5FD;
  --color-primary-lint: #EAF3FE;
  --color-primary-border: rgba(47, 128, 237, 0.3);
  --color-primary-focus-ring: rgba(47, 128, 237, 0.5);
  --font-body: 'Poppins', sans-serif;
}

/* Custom styles can be added below */