<layout class="relative">
  <form class="flex flex-col items-center mx-[20px] sm:mx-[40px] pt-8 h-full max-h-screen overflow-y-auto" (ngSubmit)="onSubmit()" #quizForm="ngForm">
    <div class="w-full h-full max-h-screen overflow-y-auto text-text-main dark:text-text-main">
      <div class="flex justify-between items-center mb-6">
        <div>
          <h1 class="text-2xl font-bold hidden sm:inline-block"> Créer un nouveau quiz </h1>
          <h1 class="text-2xl font-bold sm:hidden"> Créer </h1>
        </div>

        <!-- Tags -->
        <div class="flex items-center gap-4">
            <app-tag-list [tags]="tags"></app-tag-list>
            <div>
              <app-button
                [style]="'primary'"
                [label]="isMobile ? '+ Tag' : 'Ajouter un tag'"
                [bold]="'semibold'"
                (click)="toggleTagInput()"
                [class]="'flex items-center gap-2 focus:outline-none !md-max:py-1 !md-max:text-2xl !md-max:rounded-xl'"
                aria-label="Ajouter un tag"
               >
              </app-button>
            </div>

            <div *ngIf="showTagInput && isMobile" class="fixed inset-0 z-40 bg-black/20 backdrop-blur-sm sm:hidden w-screen h-screen" (click)="showTagInput = false"></div>
            <div *ngIf="showTagInput" class="fixed inset-0 z-50 h-10 flex items-start justify-center sm:static sm:bg-transparent sm:z-auto sm:items-center sm:justify-start">
              <div class="relative mt-64 sm:mt-0 w-11/12 max-w-xs rounded-lg h-30 bg-bg-surface dark:bg-bg-surface sm:h-10 shadow-lg p-8 sm:w-auto sm:max-w-none sm:shadow-none sm:p-0 sm:bg-transparent sm:rounded-none">
                <input
                  #tagInput
                  type="text"
                  placeholder="Ajouter un tag"
                  class="border border-primary-tint rounded-lg px-4 py-2 focus:outline-none focus:ring-1 focus:ring-primary-tint w-full bg-bg-card dark:bg-bg-card text-text-main dark:text-text-main placeholder-gray-400"
                  (keydown.enter)="addTag(tagInput.value); $event.preventDefault()"
                />
                <button type="button" class="absolute sm-max:block right-0 top-0 sm:right-2 sm:top-2 text-text-secondary hover:text-red-400" (click)="showTagInput = false" aria-label="Fermer">
                  <svg class="w-8 h-8 sm:w-6 sm:h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                  </svg>
                </button>
              </div>
            </div>

          <!-- Quiz visibility -->
          <div class="relative w-fit">
            <button class="bg-primary dark:bg-primary-dark text-white rounded-lg px-4 py-2 font-semibold text-base flex items-center gap-2 focus:outline-none" (click)="showDropdown = !showDropdown" type="button">
              {{ quizVisibility === 'private' ? 'Privé' : 'Public' }}
              <svg class="w-4 h-4 ml-1 transition-transform duration-200" [ngClass]="{'rotate-180': showDropdown}" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"/>
              </svg>
            </button>
            <div *ngIf="showDropdown" class="absolute z-30 left-0 mt-1 w-full bg-bg-card dark:bg-bg-card border border-gray-600 rounded-lg shadow-lg animate-fade-in">
              <button class=" rounded-t-lg block w-full text-left px-4 py-2 hover:bg-gray-200 dark:hover:bg-zinc-700 text-text-main dark:text-text-main" (click)="quizVisibility = 'private'; showDropdown = false"type="button">
                Privé
              </button>
              <button class="block w-full rounded-b-lg text-left px-4 py-2 hover:bg-gray-200 dark:hover:bg-zinc-700 text-text-main dark:text-text-main" (click)="quizVisibility = 'public'; showDropdown = false" type="button">
                Public
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Quiz details -->
      <div class="flex flex-col max-h-[calc(100svh-16rem)] overflow-y-auto pt-1 px-2">
        <!-- Title and description -->
        <div class="flex flex-col border-b-2 border-gray-600 mb-4">
          <input
            type="text"
            placeholder="Ajouter un titre"
            class="w-full semi-bold border-primary-tint rounded-lg px-4 py-2 mb-4 bg-bg-card dark:bg-bg-card text-text-main dark:text-text-main placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-primary-tint"
            required
            name="title"
            [(ngModel)]="quizTitle"
            maxlength="{{maxLengthTitle}}"
            (input)="onTitleInput($event)"
            [tooltip]="'Limite: {{ maxLengthTitle }} caractères'"
          />
          <!-- TODO Notification when max length reached -->
          <!-- <div *ngIf="titleMaxLengthReached" class="absolute left-0 top-full mt-7 text-red-500 text-xs z-50 bg-white rounded px-2 py-1 border border-gray-200">
            Limite de {{maxLengthTitle}} caractères atteinte
          </div> -->
  
          <input
            type="text"
            placeholder="Ajouter une description"
            class="w-full rounded-lg px-4 py-2 mb-6 bg-bg-card dark:bg-bg-card text-text-main dark:text-text-main placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-primary-tint"
            name="description"
            [(ngModel)]="quizDescription"
            maxlength="{{maxLengthDescription}}"
            (input)="onDescriptionInput($event)"
            [tooltip]="'Limite: {{ maxLengthDescription }} caractères'"
          />
          <!-- Notification when max length reached -->
          <!-- <div *ngIf="titleMaxLengthReached" class="absolute left-0 top-full mt-7 text-red-500 text-xs z-50 bg-white rounded px-2 py-1 border border-gray-200">
            Limite de {{maxLengthDescription}} caractères atteinte
          </div> -->
        </div>

        <div class="flex flex-col gap-4 mb-6">
          <ng-container *ngFor="let question of questions; let i = index">
            <div class="bg-primary dark:bg-primary-dark text-white rounded-lg px-4 py-2 mb-4 font-semibold"> Question {{ i + 1 }} </div>
            <input
              type="text"
              placeholder="Ajouter une question"
              class="w-full rounded-lg px-4 py-2 mb-4 bg-bg-card dark:bg-bg-card text-text-main dark:text-text-main placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-primary-tint"
              required
              name="question{{ i }}"
              [(ngModel)]="question.name"
              maxlength="{{maxLengthQuestion}}"
              (input)="onQuestionInput($event, i)"
              [tooltip]="'Limite: {{ maxLengthQuestion }} caractères'"
            />
            <!-- Notification when max length reached -->
            <!-- <div *ngIf="questionMaxLengthReached?.[i]" class="absolute left-0 top-full mt-7 text-red-500 text-xs z-50 bg-white rounded px-2 py-1 border border-gray-200">
              Limite de {{maxLengthQuestion}} caractères atteinte
            </div> -->

            <!-- TODO question time with slider -->

            <div class="flex flex-col gap-2 mb-4">
              <ng-container *ngFor="let option of question.choices; let j = index">
                <div class="flex items-center gap-2">
                  <span class="flex text-lg gap-1 justify-between content-start w-10">
                    <p> {{ j + 1 }}. </p>
                      <input
                        type="radio"
                        [name]="'question{{ i }}'"
                        [(ngModel)]="question.validAnswer"
                        [value]="j"
                        required
                      />
                  </span>
                  <div class="relative w-full">
                    <input
                      type="text"
                      placeholder="Ajouter une option"
                      class="w-full rounded-lg px-4 py-2 bg-bg-card dark:bg-bg-card text-text-main dark:text-text-main placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-primary-tint"
                      required
                      name="option{{ i }}{{ j }}"
                      [(ngModel)]="option.content"
                      maxlength="{{maxLengthOption}}"
                      (input)="onOptionInput($event, i, j)"
                      [tooltip]="'Limite: {{ maxLengthOption }} caractères'"
                    />
                    <!-- Notification when max length reached -->
                    <!-- <div *ngIf="optionMaxLengthReached?.[i]?.[j]" class="absolute left-0 top-full mt-7 text-red-500 text-xs z-50 bg-white rounded px-2 py-1 border border-gray-200">
                      Limite de {{maxLengthOption}} caractères atteinte
                    </div> -->
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>

        <app-button
          [type]="'button'"
          [label]="'+ Ajouter une question'"
          [style]="'primary'"
          [class]="'!text-xl flex items-center justify-center focus:outline-none'"
          (click)="addQuestion()"
          aria-label="Ajouter une question"
        >
        </app-button>
      </div>
    </div>

    <!-- Create quiz button -->
    <div class="z-8 w-full flex items-center justify-center border-t-2 border-zinc-800">
      <app-button
        [type]="'submit'"
        [size]="'large'"
        [shape]="'rectangle'"
        [bold]="'semibold'"
        [disabled]="quizForm.invalid === null || quizForm.invalid"
        [class.scale-110]="quizForm.valid"
        [class.transition]="quizForm.valid"
        [class.duration-500]="quizForm.valid"
        [class]="'z-10 !h-10 my-4 flex items-center justify-center'"
        aria-label="Créer le quiz">
          <svg class="w-4 h-4 mr-2 text-white font-bold" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" v-if="quizForm.valid">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
          </svg>
          Créer le quiz
      </app-button>
    </div>
  </form>
</layout>
